.container {
    user-select: none;
    background-color: #000000;
    border-radius: 10px;
    max-width: 390px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative; /* Добавлено для поддержки абсолютного позиционирования дочерних элементов */
}
